* {
    font-family: "segoe-ui";
}

body {
    background-image: url(../images/background1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
}

.header {
    font-family: "raleway";
    padding-top: 39px;
    width: 71%;
    margin: auto;
    color: white;
}

.flexable {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 280px;
}

.logo h2 {
    font-weight: 400;
    font-size: 39px;
}

.navigation {
    width: 800px;
    font-size: 20px;
}

.navigation a {
    color: white;
}

.button {
    font-family: 'raleway';
    margin: auto;
    width: 222px;
    height: 68px;
    background-color: #572bd9;
    color: white;
    font-size: 19px;
    border: 0;
    border-radius: 10px;
    letter-spacing: 2px;
}

.register-button {
    width: 180px;
    height: 60px;
    letter-spacing: 0;
    margin: 0;
}

.title {
    text-align: center;
    color: white;
    padding-top: 116px;
}

.title h2 {
    font-size: 66px;
}

.title h3 {
    padding-top: 31px;
    font-size: 20px;
    max-width: 700px;
    margin: auto;
    color: #cfdeed;
}

.button-section {
    width: 520px;
    margin: auto;
    padding-top: 47px;
}

.orange-button {
    background-color: #ffdd33;
}

.pc-image {
    display: block;
    margin: auto;
    padding-top: 52px;
}

.inkyy-section {
    padding: 0px 250px;
    position: relative;
    left: 0;
    right: 0;
    top: -56px;
}

.logo-inkyy {
    font-family: 'raleway';
    color: #eef0f3;
    font-weight: 500;
    letter-spacing: 14px;
    font-size: 30px;
    width: 275px;
}

.second-background {
    background-color: #fbfcfe;
    height: calc(100vh - 80px);
    margin-top: 130px;
}

.second-background header {
    width: 570px;
    margin: auto;
}

.second-background header h3 {
    font-size: 22px;
    line-height: 35px;
}

.black{
    color: black;
}

.black img {
    filter: invert(1);
}

.foo-bar {
    padding-top: 130px;
    width: 1300px;
    margin: auto;
}

.window {
    width: 420px;
    height: 430px;
    border-radius: 25px;
    background-color: white;
    padding: 80px 60px;
    box-sizing: border-box;
}

.icon {
    width: 75px;
    height: 75px;
    background-color: #f2eeff;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-shadow {
    box-shadow: 0 10px 40px rgb(0 0 0 / 10%), 0 10px 30px 0 rgb(0 0 0 / 0%);
}

.green-icon {
    background-color: #edfcf6;
}

.orange-icon {
    background-color: #fffbe6;
}

.window h4 {
    padding-top: 36px;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 1px;
}

.window p {
    padding-top: 25px;
    line-height: 1.6;
    font-size: 17px;
    color: #b1bdcd;
}

.add-padding {
    padding: 7% 7% 0 7%;
}

.add-parameters {
    width: 815px;
    height: 585px;
}

.add-position {
    width: 715px;
    text-align: left;
    padding-top: 0;
}

.add-position h3 {
    padding: 60px 0;
    line-height: 1.5;
    max-width: 600px;
    color: #b1bdcd;
}

.background-2 {
    width: 100%;
    height: 850px;
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.third-background {
    margin-top: 100px;
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 629px;
}

.font {
    font-family: aspira;
    font-weight: 200;
    letter-spacing: 2.5px;
}

.max-size {
    width: 810px;
    margin: auto;
    line-height: 1.5;
}

.size {
    width: 500px;
    padding-top: 20px;
    
}

.text {
    max-width: 400px;
    color: #b1bdcd;
    line-height: 1.5;
}

.background-size {
    width: 60px;
    height: 60px;
}

.background-size img {
    filter: initial;
}


.foo {
    padding-left: 270px;
    font-family: 'aspira';
    font-weight: 400;
}

.list {
    padding-top: 20px;
    padding-bottom: 60px;
}

.personal-window {
    position: relative;
    text-align: center;
}

.personal-window img {
    position: absolute;
    top: -43px;
    left: 167px;
}

.personal-window span {
    color: #b1bdcd;
    padding-top: 18px;
    display: block;
    font-size: 20px;
}

.stars {
    padding-top: 30px;
}

.clip-star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 25px;
    width: 25px;
}

.circles {
    width: 80px;
    margin: auto;
    padding-top: 100px;
}

.clip-circle {
    background-color: #b1bdcd;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.blue-circle {
    background-color: #6736f9;
}

.fourth-background {
    height: calc(100vh + 200px);
    background-image: url(../images/background3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
}

.fourth-background h3 {
    max-width: 800px;
    margin: auto;
}

.add-height {
    padding: 35px;
    height: 740px;
    width: 410px;
    text-align: center;
    border-radius: 10px;

}

.add-height h3 {
    font-size: 32px;
    font-weight: 200;
}

.add-height h2 {
    font-size: 75px;
    font-weight: 300;
    padding-top: 30px;
}

.add-height h4 {
    font-size: 20px;
    font-weight: 100;
}

.add-height p {
    padding-top: 40px;
    color: black;
}

.add-height ul {
    text-align: left;
    padding: 40px 0 90px 35px;
}

.window-list {
    padding-bottom: 15px;
}

.window-list div {
    display: inline-block;
}

.window-list span {
    display: inline-block;
    padding-left: 20px;
    font-size: 22px;
    color: #b1bdcd;
}

.blue-window {
    background-color: #6837fa;
    color: white;
}

.blue-window p {
    color: white;
}

.blue-window ul li span {
    color: white;
}

.blue-window ul li img {
    filter: brightness(0) invert(1);
}

.top-margin {
    margin-top: 0;
}

.top-margin header{
    width: 870px;
}

.question-list ul{
    display: flex;
    justify-content: space-between;
    padding: 100px 280px 0;
    flex-wrap: wrap;
}

.question-list ul li div{
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 50px;
}

.question-list h3 {
    font-size: 30px;
    font-weight: 600;
}

.question-list p {
    max-width: 470px;
    padding-top: 20px;
    color: #b1bdcd;
    font-size: 20px;
}

.contact-form {
    padding-top: 100px;
    max-width: 720px;
    margin: auto;
}

.contact-form input{
    width: 700px;
    height: 75px;
    border-radius: 10px;
    background-color: #fbfcfe;
    border-color: #bfcfde;
    font-size: 25px;
    padding-left: 30px;
    margin-bottom: 35px;
}

.contact-form .message-input {
    height: 320px;
}

.contact-form {
    text-align: center;
}

.five-background {
    margin-top: 100px;
    background-image: url(../images/backgrpund4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    height: 629px;
}

.five-background .title {
    padding-top: 250px;
}

.footer {
    font-family: 'segoe-ui';
}

.about-temp {
    max-width: 300px;
}

.about-temp p {
    padding-top: 40px;
    font-size: 20px;
    line-height: 1.4;
    color: #bfcfde;
}

.footer h3 {
    font-size: 35px;
}

.footer-list li {
    padding-top: 40px;
}

.footer-list a {
    font-size: 20px;
    color: #bfcfde;
}

.footer-list .no-padding-li {
    padding-top: 0;
}

.footer-form input {
    position: relative;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    background-color: #fbfcfe;
    border-color: #bfcfde;
    font-size: 25px;
    padding-left: 30px;
}

.sub-button {
    position: absolute;
    right: 0px;
}

.sub-section {
    padding: 40px 0;
    position: relative;
    width: 500px;
}

.footer-div {
    align-items: flex-start;
}

.footer-form nav img {
    margin-right: 15px;
}

.six-background {
    height: 120px;
    background-color: #572bd9;
    margin-top: 130px;
    padding: 0 300px;
}



.footer-link {
    color: white;
}

.footer-link a {
    color: white;
}









